.grid-container {
  height: 90%;
  /*  width: 75%; */
  background-color: burlywood;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
