.navbar {
  height: 5vh;
  background-color: #464e2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 1.5rem;
  font-weight: bolder;
  color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .header-text {
    font-size: 20px;
    padding: 0.5rem;
    text-align: center;
  }
}
