.score-container {
  background-color: #464e2e;
  color: whitesmoke;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .score-container {
    position: sticky;
    top: 0;
    padding: 0.2rem 0;
  }
}
